
<div class="center jumbotron">
  <h1>JS <span>haps</span></h1>
  <h3>What is happening in the world of Javascript?</h3>
  <%= link_to "Sign up", signup_path, class: "btn btn-default btn-lg btn-xl" %>


</div>
