$navbar-default-bg:#2e2e2c;

@import "bootstrap-sprockets";
@import "bootstrap";

// home page style start

.dropdown-menu{
  background-color: #2e2e2c;
}

.dropdown-menu li:hover{
  background-color: #f7df1e !important;
}

body{
  background-color: #eceff1;
}
*{
  border-radius: 0 !important;
}

.btn-primary{
  background-color: #2e2e2c !important;
  color:#f7df1e !important;
}
.btn-primary:hover{
  background-color: #f7df1e !important;
  color:#2e2e2c !important;
}

.btn-default{
  background-color: #f7df1e !important;
  color:#2e2e2c !important;
}

input, textarea{
    background-color:#cdcdcd !important;
    color: #2e2e2c !important;
}

.form-control:focus {
    border-color: #000 !important;
    outline: 1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

ul.nav li a, ul.nav li a:visited {
    color: #cdcdcd !important;
}
.well{
  background-color: #f8f7fd !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #f7df1e !important;
}

a {
color: #0d47a1 !important;
}

.jumbotron{
  background-color: #2e2e2c;
  margin-top: 40px;
}

#logo:hover{
  color: #cdcdcd;
  text-decoration: none;
}

.center{
  text-align: center;
}
.jumbotron h1{
 font-size: 12em;
 color: #f7df1e;
 letter-spacing: -14px;
 font-weight: bolder;
}

.jumbotron h3{
 color: #f7df1e;
 margin-bottom: 100px;
}

.btn-xl{
  font-size: 1.7em;
  color: #01579B;
}

.btn-xl:hover{
  color: #01579B;
}

footer{
  margin-top:35px;
  padding-top:5px;
  color: #777;
}

footer h6{
  float:left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float:left;
  margin-left: 15px;
}

.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid purple !important;
}
.pagination>li.active>a {
  background:#2e2e2c  !important;
  color: #f7df1e !important;
}

#logo{
  font-size: 1.7em;
  color:#f7df1e !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h1 span{
  font-size:0.6em;
  letter-spacing: 5px;
}

// home page css ends


// show page  style begins

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}


// show page style ends


// Article Index page style begins

.article-title{
 font-weight: bold;
 font-size: 1.7em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  font-size: 1.1em;
}

.article-meta{
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 15px;
  font-size: 0.8em;
}



// User index style  begins

.user-list{
  list-style: none;
  padding:0;
}

// category index style

.category-list{
  list-style: none;
  padding:0;
}

// article form

  .input-checkbox{
    width: auto !important;
  }
