<h2 align="center">List of all categories</h2>
<div align="center">
  <%= will_paginate %>
<% @categories.each do |category| %>
<ul class="category-list">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <h4><%= link_to "#{category.name}" , category_path(category) %></h4>
        <h5><%= pluralize(category.articles.count, "article") %></h5>
      </div>
    </div>
</ul>
<% end %>
<%= will_paginate %>
</div>
